{% extends "main/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="content-section mt-3">
    <div class="media">
        <svg data-jdenticon-value="{{ current_user.profile_identicon_unique_string }}" width="125" height="125">
            Fallback text or image for browsers not supporting inline svg.
        </svg>
<!--        <img class="rounded-circle account-img mb-3" src="{{ image_file }}">-->
        <div class="media-body">
            {% if current_user.first_name and current_user.middle_name and current_user.last_name %}
                <h4>{{ current_user.first_name.capitalize() }} {{ current_user.middle_name.capitalize() }} {{ current_user.last_name.capitalize() }}</h4>
            {% elif current_user.first_name and current_user.last_name %}
                <h4>{{ current_user.first_name.capitalize() }} {{ current_user.last_name.capitalize() }}</h4>
            {% else %}
                <h4>@{{ current_user.username }}</h4>
            {% endif %}
            {% if current_user.about %}
                <p>{{ current_user.about }}</p>
            {% endif %}
        </div>
    </div>
    <div>
        {% if not current_user.is_email_verified %}
            <a class="btn btn-secondary" href="{{ url_for('user_blueprint.request_verify_email', email=current_user.email) }}">
                Verify Email
            </a>
        {% endif %}
        <a class="btn btn-danger" href="{{ url_for('user_blueprint.logout') }}">
            Logout
        </a>

        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4  mt-4"><strong>Account Info</strong></legend>

                <div class="form-group">
<!--                    {{ form.username.label(class="form-control-label mt-3") }}-->

                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.username, class="form-control form-control-lg mb-3 read_only") }}
                    {% endif %}

                </div>

                <div class="form-group">
<!--                    {{ form.email.label(class="form-control-label mt-3") }}-->

                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.email, class="form-control form-control-lg read_only mb-3") }}
                    {% endif %}

                </div>

                <div class="form-group">
<!--                    {{ form.first_name.label(class="form-control-label mt-3") }}-->

                    {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.first_name, class="form-control form-control-lg read_only mb-3") }}
                    {% endif %}

                </div>

                {% if current_user.middle_name != "" %}
                    <div class="form-group">
    <!--                    {{ form.middle_name.label(class="form-control-label mt-3") }}-->

                        {% if form.middle_name.errors %}
                        {{ form.middle_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.middle_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ wtf.form_field(form.middle_name, class="form-control form-control-lg read_only mb-3") }}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="form-group">
<!--                    {{ form.last_name.label(class="form-control-label mt-3") }}-->

                    {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.last_name, class="form-control form-control-lg read_only mb-3") }}
                    {% endif %}

                </div>

                <div class="form-group">
<!--                    {{ form.current_profession.label(class="form-control-label mt-3") }}-->

                    {% if form.current_profession.errors %}
                    {{ form.current_profession(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.current_profession.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.current_profession, class="form-control form-control-lg read_only mb-3") }}
                    {% endif %}

                </div>

            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary m-1 mt-4 mb-4") }}
                <a class="btn btn-outline-secondary m-1 mt-3 mb-3" href="{{ url_for('user_blueprint.change_password') }}">
                    Change Password
                </a>
                <a class="btn btn-outline-danger m-1 mt-3 mb-3" href="{{ url_for('user_blueprint.close_account') }}">
                    Close Account
                </a>
            </div>

        </form>
    </div>
</div>

{% endblock content %}
