{% extends "main/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4  mt-4"><strong>Close Account</strong></legend>

            <div class="form-group">
                {% if form.closing_reason.errors %}
<!--                {{ form.closing_reason.label(class="form-control-label mt-3") }}-->
                {{ wtf.form_field(form.closing_reason, value=form.closing_reason.data, class="form-select form-select-lg mb-3") }}
                <div class="invalid-feedback">
                    {% for error in form.closing_reason.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ wtf.form_field(form.closing_reason, value=form.closing_reason.data , class="form-select form-select-lg mb-3") }}
                {% endif %}
            </div>

            <div class="form-group">
                {% if form.suggestions.errors %}
<!--                {{ form.suggestions.label(class="form-control-label mt-3") }}-->
                {{ wtf.form_field(form.suggestions, class="form-control form-control-lg mb-3", placeholder="Please Tell Us, What We Can Improve ?") }}
                <div class="invalid-feedback">
                    {% for error in form.suggestions.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ wtf.form_field(form.suggestions, class="form-control form-control-lg mb-3", placeholder="Please Tell Us, What We Can Improve ?") }}
                {% endif %}
            </div>

            <div class="form-group">
                {% if form.confirm_password.errors %}
<!--                {{ form.confirm_password.label(class="form-control-label mt-3") }}-->
                {{ wtf.form_field(form.confirm_password, class="form-control form-control-lg is-invalid mb-3", placeholder="Enter Your Current Password") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ wtf.form_field(form.confirm_password, class="form-control form-control-lg mb-3", placeholder="Enter Your Current Password") }}
                {% endif %}
            </div>

        </fieldset>

        <div class="form-group">
            <a class="btn btn-outline-success m-1" href="{{ url_for('user_blueprint.account') }}">
                Keep Account
            </a>
            {{ form.submit(class="btn btn-danger mt-4 mb-4") }}
        </div>
    </form>
</div>

{% endblock content %}
