{% extends "main/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="content-section mt-3">
    <div class="media">
        {% if current_user.profile_image == "default.jpg" %}
        <svg class="mb-3" data-jdenticon-value="{{ current_user.profile_identicon_unique_string }}" width="125" height="125">
            Fallback text or image for browsers not supporting inline svg.
        </svg>
        {% else %}
            <img class="rounded-0 account-img" src="{{ image_file }}">
        {% endif %}
        <div class="media-body">
            {% if current_user.name %}
                <h4>{{ current_user.name }}</h4>
            {% else %}
                <h4>@{{ current_user.username }}</h4>
            {% endif %}
            {% if current_user.about %}
                <p>{{ current_user.about }}</p>
            {% endif %}
        </div>
    </div>
    <div>
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4  mt-4"><strong>Edit Account Info</strong></legend>

                <div class="form-group">
<!--                    {{ form.profile_image.label(class="form-control-label mt-3") }}-->

                    {% if form.profile_image.errors %}
                        {{ wtf.form_field(form.profile_image, class="form-control form-control mb-3 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.profile_image.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.profile_image, class="form-control form-control mb-3") }}
                    {% endif %}

                </div>
                <br>
                <div class="form-group">
<!--                    {{ form.about.label(class="form-control-label mt-3") }}-->

                    {% if form.about.errors %}
                        {{ wtf.form_field(form.about, class="form-control form-control mb-3 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.about.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.about, class="form-control form-control mb-3") }}
                    {% endif %}

                </div>
                
                <div class="form-group">
<!--                    {{ form.username.label(class="form-control-label mt-3") }}-->

                    {% if form.username.errors %}
                        {{ wtf.form_field(form.username, class="form-control form-control-lg mb-3 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.username, class="form-control form-control-lg mb-3") }}
                    {% endif %}
                </div>

                <div class="form-group">
<!--                    {{ form.email.label(class="form-control-label mt-3") }}-->

                    {% if form.email.errors %}
                        {{ wtf.form_field(form.email, class="form-control form-control-lg mb-3 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.email, class="form-control form-control-lg mb-3") }}
                    {% endif %}
                </div>

                <div class="form-group">
<!--                    {{ form.name.label(class="form-control-label mt-3") }}-->
                    {% if form.name.errors %}
                        {{ wtf.form_field(form.name, class="form-control form-control-lg mb-3 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.name, class="form-control form-control-lg mb-3") }}
                    {% endif %}
                </div>

                <div class="form-group">
<!--                    {{ form.current_profession.label(class="form-control-label mt-3") }}-->

                    {% if form.current_profession.errors %}
                        {{ wtf.form_field(form.current_profession, value=form.current_profession.data, class="form-select form-select-lg mb-3 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.current_profession.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ wtf.form_field(form.current_profession, value=form.current_profession.data, class="form-select form-select-lg mb-3") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary mt-4 mb-4") }}
                <a class="btn btn-danger m-1" href="{{ url_for('user_blueprint.account') }}">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
