{% extends "main/layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    {% if user.profile_image == "default.jpg" %}
        <svg class="mb-3 mt-3" data-jdenticon-value="{{ user.profile_identicon_unique_string }}" width="125" height="125">
            Fallback text or image for browsers not supporting inline svg.
        </svg>
    {% else %}
        <img class="rounded-0 mt-3 mb-3" src="{{ url_for('static', filename='MEDIA/IMG/PROFILE_IMG/' + user.profile_image) }}">
    {% endif %}
    <p class="text-muted mt-1">@{{ user.username }}</p>
    {% if user.name %}
        <h4>{{ user.name }}</h4>
    {% endif %}
    {% if user.about %}
        <p>{{ user.about }}</p>
    {% endif %}
    <p class="text-muted">Current Profession : {{ user.current_profession }}</p>
    <p class="text-muted">Date Joined : {{ user.date_joined.strftime("%Y-%m-%d") }}</p>
    <p class="text-muted mb-3">Total Posts : {{ posts.total }}</p>

    {% if current_user.is_authenticated %}
        {% if not current_user.is_following(user) %}
            <p>
                <form action="{{ url_for('user_blueprint.follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.submit, value="Follow", class="btn btn-sm btn-primary") }}
                </form>
            </p>
        {% else %}
            <p>
                <form action="{{ url_for('user_blueprint.unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.submit, value="Unfollow", class="btn btn-sm btn-danger") }}
                </form>
            </p>
        {% endif %}
    {% endif %}

    {% for post in posts.items %}
        <article class="media content-section mt-3">
            <div class="media-body">
                <div class="article-metadata mb-1">
                    <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
                </div>
                <H3><a class="article-title" href="{{ url_for('post_blueprint.see_post', post_id=post.id) }}"> {{ post.title }} </a></H3>
                <h6 class="article-content">{{ post.content }}</h6>
            </div>
        </article>
        <br>
    {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info btn-sm mb-4" href="{{ url_for('user_blueprint.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info btn-sm mb-4" href="{{ url_for('user_blueprint.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}

{% endblock content %}
